
body{
    margin:0;
    padding:0;
    
        -webkit-animation: AnimationName 30s ease infinite;
        -moz-animation: AnimationName 30s ease infinite;
        -o-animation: AnimationName 30s ease infinite;
        animation: AnimationName 30s ease infinite;
    
    
    @-webkit-keyframes AnimationName {
        0%{background-position:0% 25%}
        50%{background-position:100% 76%}
        100%{background-position:0% 25%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 25%}
        50%{background-position:100% 76%}
        100%{background-position:0% 25%}
    }
    @-o-keyframes AnimationName {
        0%{background-position:0% 25%}
        50%{background-position:100% 76%}
        100%{background-position:0% 25%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 25%}
        50%{background-position:100% 76%}
        100%{background-position:0% 25%}
    }
    
    
}
.banner{
    
    background:url('projects1.jpg' );
    background-position:top;
    background-size:cover;
    background-repeat: no-repeat;
    height:100vh;
    box-shadow: 0 0 10px #02d9ff,
    0 0 20px #02d9ff,
    0 0 40px #02d9ff,
    0 0 80px #02d9ff,
    0 0 160px #02d9ff;
    
   
}
 
.bg-dark{
    background-color: #0e3742!important;
    
}
/* logo*/
.navbar-brand{
    font-weight:bold;
    font-family:monospace;
    font-size:28px;
} 
 .navbar-brand{
    position:relative;
font-size:1.2em;
letter-spacing:2.5px;

color: #0d5366;
text-transform: uppercase;

 line-height:2em;
 padding: 4px 4px;
 outline:none;
 animation: animat 5s linear infinite;
font-family:Arial, Helvetica, sans-serif;
}
 
@keyframes animat{
0%,18.1%,20.1%,30%,50%,60.1%{
    color:#f6f8f8;
    
}
18.1%,20.1%,65%,80.1%,90%,92.1%,100%{
  
    color:rgb(39, 205, 235);
    
     }
}
    
    
  
/* navbar*/

.navbar-dark .navbar-nav .nav-link{
    font-weight:700;
    font-size:14px;
    text-transform:uppercase;
}

.navbar-dark .navbar-nav .nav-link:hover{
    background-color:  #0e3742;
    color:white;
    font-size:16px;
   
    
}

.navbar-dark .navbar-nav .nav-items{
   margin: 0.15px;}
.name{
       font-family:calibri;
       width:500px;
       position:absolute;
       left:32%;
       top:70%;
       transform:translate(-20%,-50%);
      
   }
   .name p{
       padding-bottom:20px;
      font-size:1em;
      line-height: 1em;
      background-color: #0e3742 ;
      padding-left:7px;
       font-weight: bold;
     
      color:white;
       padding-top: 20px;
       width:88%;
       opacity:1;
      
   }
   .name h1{
    
     font-size: 2em;
       width:70%;
       padding-left:7px;
     
       letter-spacing:3px;
       color:white;
       background-color: #0e3742;
      /* text-shadow: 0 0 10px #02d9ff,
    0 0 20px #02d9ff,
    0 0 40px #02d9ff,
    0 0 80px #02d9ff,
    0 0 160px #02d9ff;
       
      
       
       line-height: 1em;*/
      
          
      }
       
      
       
   
 .name h3{
     font-size:3em;
     width:49%;
     font-family:fantasy;
   
    color:white ;
    background-color: #0e3742 ;
    
    
    
    font-weight:bolder;
    font-family:monospace;
    
 }

    
    
    
  /* about me*/ 
  
  
  .about-area{
    background-image: linear-gradient(to right top, #13a4a4, #25a2a2, #319f9f, #3a9d9d, #429a9a, #479e9e, #4ba2a2, #50a6a6, #54b2b2, #58bfbf, #5ccbcb, #60d8d8);
    padding-top:88px;
    padding-bottom:88px;
    
     }
     .r-p{
         padding-top:88px;
         padding-bottom:88px;
     }
     

  
  .about-img{
      position:relative;
  }
  .about-img:before{
      position:absolute;
      content:'';
      right:-17px;
      top:30px;
      border:10px solid hsl(0, 0%, 0%);
      width:100%;
      height:100%;

  }
  .about-img img{
      width:100%;
  }
   
  .about-text{
     
      padding-left:18%;
      padding-top:30px;

  }
  .about-text h2{
      color:rgb(0, 0, 0);
      font-family:lobster;
      font-size:50px;
  }
  .about-text p{
      font-size:18px;
      color:rgb(255, 250, 250);


  }


  /* skills*/
  .exp-class{
    background-image: linear-gradient(to right top, #13a4a4, #25a2a2, #319f9f, #3a9d9d, #429a9a, #479e9e, #4ba2a2, #50a6a6, #54b2b2, #58bfbf, #5ccbcb, #60d8d8);
      padding-top:88px;
      padding-bottom:88px;
      height:80vh;
  }
  .skill-sr{

    
   box-shadow: 1px 4px 2px 2px #dcdded;

      font-size:50px;
      font-weight:normal;
      background-size: 50%;
    
      background-color: #0e3742;
      color:white;
  }
  .exp-class .progrress{
      height:10px;
      border-radius:20px;
      font-size:10px;
      box-shadow: 0 0 10px #b5e3eb,
    0 0 20px #6199a3,
    0 0 40px #afc6ca,
    0 0 80px #5c8188,
    0 0 160px #b4e4ec;

  }
  .progress-bar{
      background-color:rgb(24, 187, 199) !important;
      animation:animate 4s ease-in-out forwards;
  }
  @keyframes animate{
      from{width:0;}
  }
  .exp-class label{
      font-size:20px;
      margin:10px;
  }
  .footer{
      margin:0;
      padding:0;
      box-sizing:border-box;
      background:black;
width:100%;
}
.footer-col{
    display:flex;
    
    justify-content: center;

}

    .social-links{  
    
        width:100%;
        height: 35vh;
       
        margin:auto;
       display:flex;
    
    justify-content: center;
    align-items: center;
       
    
   }
   .media{
    height:100px;
    width:100px;
    background-color: blanchedalmond;
   border-radius: 50px;
   text-align:center;
   margin:10px;
   box-shadow: 1px 4px 2px 2px #dcdded;
line-height: 100px;

   }
  .header{
      
      height:8px;
      background-color: #0e3742;
      box-shadow: px 3px 4px 5pxrgb(41, 92, 99);

  }
  @media (max-width: 360px){
    .name{
      width:100%;
    }
}